@use '/src/styles/partials/mixins' as *;
@use "/src/styles/partials/variables" as *;

.cream{
    color: $cream;
}

.photoList{
    height: 100vh;

    &__intro{
        @include flex-box(column-reverse);
        align-items: center;
        justify-content: center;

        &-header{
            font-size: 14rem;
            height: 17rem;
            z-index: 1; 
        }
    }

    &__thumbnail{
        overflow: hidden;
        width: 100%;
        margin: 0;

        &-img{
            width: 100%;
        }
    }

    &__lists{
        padding: 0;
        overflow: hidden;

        &-list{
                padding: 0 5rem;
                 @include flex-box(column);
                 justify-content: center;
                 align-items: center;
                 height: 100vh;

            &-cardWrap{
                position: absolute;
                cursor: pointer;
                overflow: hidden;
                width: 0;
                height: 90%;
                border-radius: 3%;
                backface-visibility: hidden;
                box-shadow:-5px 7px 10px 1px rgba(0, 0, 0, 0.23);

                &--back{
                    width: 100%;
                    border: 2px solid black;
                    background-color: $cream;
                    transform: rotateY(180deg);
                    
                }
                &-img{
                    width: 100%;
                }
                &-heartIcon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    filter: drop-shadow(0 19px 38px rgba(0, 0, 0, 0.7));
                    transform-origin: center center;
                    width: 100px;
                }
                &-fullscreen{
                    border-radius: 15%;
                    position: absolute;
                    top: 2.5%;
                    right: 2%;
                    width: 1.5rem ;
                }
                &-fullscreen:hover{
                    background-color: black;
                }
            }
            &-features{
                width: 100%;
                justify-content: center;
                align-items: center;
                @include flex-box(row);


                &-like{
                    font-size: 1.3rem;
                    margin: 0 3rem;
                }
                &-msg{
                    width: 2rem;
                    margin: 0 3rem;
                    border-radius: 0.5rem;
                    background-color: rgba(255, 255, 255, 0);
                }

                &-msg:hover{
                    background-color: rgba(195, 216, 79, 0.372);
                }
            }
        }
    }
}


.card {
    padding: 0 4rem;
    @include flex-box(column);
    align-items: center;
    justify-content: center;
    position: relative;
    width: 85%;
    height: 87%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card--flip {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
