@use '/src/styles/partials/mixins' as *;
@use "/src/styles/partials/variables" as *;

.main{
    text-align: center;    

    @include desktop{
        @include flex-box(row);
        justify-content: center;
        align-items: center;
    }

   &__mainHeader{
        font-size: 5.5rem;

        @include tablet{
            font-size: 16rem;
            
        }
        @include desktop{
            font-size: 28rem;
        }
    }
}