@use '/src/styles/partials/mixins' as *;
@use "/src/styles/partials/variables" as *;

.albumsList{
    margin: 3rem 0 1rem 0;
    @include flex-box(column);
    align-items: center;

    @include tablet{
        margin: 0;
    }

    &__album{
        margin-bottom: 2rem;

        @include tablet{
            margin-bottom: 5rem;
        }
    }

    &__thumbnail{
        width: 20rem;
        height: 13rem;
        overflow: hidden;

        @include tablet{
            width: 50rem;
            height: 32rem;
        }

        &-img{
            width: 22rem;
            @include tablet{
                width: 100%;
               
            }
        }
    }

    &__info{
            font-size: 1rem;
            @include tablet{
                display: none;
            }
    }

}