@use '/src/styles/partials/mixins' as *;
@use "/src/styles/partials/variables" as *;


.preloader{
    @include flex-box(row);
    justify-content: center;
    align-items: center;
    background: white url(../../assets/icons/preloader.gif) no-repeat 50% 45%;
    background-size: 5rem;
    height: 100vh;
    width: 100%;
    position: fixed;

    &__text{
        font-size: 1.5rem;
        margin-top: 9rem;
    }
}