@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

html {
    font-family: 'Arya', sans-serif;
    background-color: #F5F5F5;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }