@use '/src/styles/partials/mixins' as *;
@use "/src/styles/partials/variables" as *;

.nav{
    background-color: $cream;
    color: $black;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;

    @include tablet{
        padding: 2rem 4rem;
    }
    

    &__logo{
        font-size: 1rem;
        font-weight: 400;

    }

    &__links{
        font-size: 1rem;
        font-weight: 400;
    }
    &__links:hover{
        text-decoration: underline;
    }

    &__timezone{
        font-size: 1rem;
        font-weight: 400;
    }
}